<ion-header>
  <ion-toolbar color="warning">
    <ion-title>
      DuocPresent
    </ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/pagina1"></ion-back-button>
    </ion-buttons>
    <ion-icon slot="end" name="school" size="large" class="ion-padding"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding ">
  <ion-text color="primary">

    <ion-accordion-group [multiple]="true" [value]="['first', 'third']">
      <ion-accordion value="first">
        <ion-item slot="header" color="light">
          <ion-label>APLICACION MOVIL 100% (5 DE 5)</ion-label>
        </ion-item>
        <div class="ion-padding" slot="content">LUNES, 07 DE AGOSTO DE 2023 (PRESENTE)</div>
        <div class="ion-padding" slot="content">MARTES, 08 DE AGOSTO DE 2023 (PRESENTE)</div>
        <div class="ion-padding" slot="content">LUNES, 14 DE AGOSTO DE 2023 (PRESENTE)</div>
        <div class="ion-padding" slot="content">MARTES, 15 DE AGOSTO DE 2023 (PRESENTE)</div>
        <div class="ion-padding" slot="content">LUNES, 21 DE AGOSTO DE 2023 (PRESENTE)</div>
      </ion-accordion>
      <ion-accordion value="second">
        <ion-item slot="header" color="light">
          <ion-label>ARQUITECTURA 75% (3 DE 4)</ion-label>
        </ion-item>
        <div class="ion-padding" slot="content">MARTES, 08 DE AGOSTO DE 2023 (PRESENTE)</div>
        <div class="ion-padding" slot="content">JUEVES, 10 DE AGOSTO DE 2023 (PRESENTE)</div>
        <div class="ion-padding" slot="content">MARTES, 15 DE AGOSTO DE 2023 (PRESENTE)</div>
        <div class="ion-padding" slot="content">
          <ion-text color="danger">
            <h6> JUEVES, 17 DE AGOSTO DE 2023 (AUSENTE)</h6>
          </ion-text>
        </div>
      </ion-accordion>
      <ion-accordion value="third">
        <ion-item slot="header" color="light">
          <ion-label class="animate__animated animate__slideInLeft">PROG. BASE DE DATOS 100% (5 DE 5)</ion-label>
        </ion-item>
        <div class="ion-padding" slot="content">LUNES, 07 DE AGOSTO DE 2023 (PRESENTE)</div>
        <div class="ion-padding" slot="content">JUEVES, 10 DE AGOSTO DE 2023 (PRESENTE)</div>
        <div class="ion-padding" slot="content">LUNES, 14 DE AGOSTO DE 2023 (PRESENTE)</div>
        <div class="ion-padding" slot="content">JUEVES, 17 DE AGOSTO DE 2023 (PRESENTE)</div>
        <div class="ion-padding" slot="content">LUNES, 21 DE AGOSTO DE 2023 (PRESENTE)</div>
      </ion-accordion>
    </ion-accordion-group>

    <ion-footer [translucent]="true">
      <ion-toolbar>
        <ion-title>DuocPresent</ion-title>
      </ion-toolbar>
    </ion-footer>