<ion-header>
  <ion-toolbar color="dark" >
    <ion-title>
      RamboAp
    </ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/pagina1"></ion-back-button>
    </ion-buttons>
    <ion-icon slot="end" name="person" size="large" class="ion-padding"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-text color="primary">

<ion-card color="primary">
  <ion-card-header>
    <ion-card-title>APLICACION MOVIL</ion-card-title>
    <ion-card-subtitle></ion-card-subtitle>
  </ion-card-header>

  <ion-card-content> 8:00 - 10:00 </ion-card-content>
</ion-card>

<ion-card color="secondary">
  <ion-card-header>
    <ion-card-title>APLICAON MOVIL</ion-card-title>
    <ion-card-subtitle></ion-card-subtitle>
  </ion-card-header>

  <ion-card-content>11:00 - 13:00  </ion-card-content>
</ion-card>

<ion-card color="tertiary">
  <ion-card-header>
    <ion-card-title>APLICACION MOVIL</ion-card-title>
    <ion-card-subtitle></ion-card-subtitle>
  </ion-card-header>

  <ion-card-content> 13:10 - 14:10 </ion-card-content>
</ion-card>

<ion-card color="success">
  <ion-card-header>
    <ion-card-title>APLICACION MOVIL </ion-card-title>
    <ion-card-subtitle></ion-card-subtitle>
  </ion-card-header>

  <ion-card-content> 15:00 - 16:00 </ion-card-content>
</ion-card>