<ion-header>
  <ion-toolbar color="warning">
    <ion-title>
      DuocPresent
    </ion-title>
    <ion-icon slot="end" name="school" size="large" class="ion-padding"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-content-center">

  <ion-card color="primary">
    <ion-card-header>
      <ion-card-title></ion-card-title>
      <ion-button expand="full" color="primary" routerLink="/pagina2">
        CREDENCIAL
      </ion-button>
      <ion-card-subtitle></ion-card-subtitle>
    </ion-card-header>
  </ion-card>

  <ion-card color="secondary">
    <ion-card-header>
      <ion-card-title></ion-card-title>
      <ion-button expand="full" color="secondary" routerLink="/pagina5">
        ASISTENCIA
      </ion-button>
      <ion-card-subtitle></ion-card-subtitle>
    </ion-card-header>
  </ion-card>

  <ion-card color="tertiary">
    <ion-card-header>
      <ion-card-title></ion-card-title>
      <ion-button expand="full" color="tertiary" routerLink="/pagina4">
        HORARIO
      </ion-button>
      <ion-card-subtitle></ion-card-subtitle>
    </ion-card-header>
  </ion-card>

</ion-content>
<ion-button (click)="signOut()" expand="block" fill="clear" shape="round" slot="end" color="danger">
  Cerrar sesion
</ion-button>
<ion-footer [translucent]="true">
  <ion-toolbar>
    <ion-title>DuocPresent</ion-title>
  </ion-toolbar>
</ion-footer>
