<ion-header>
  <ion-toolbar color="dark" >
    <ion-title>
      RamboAp
    </ion-title>
    <ion-icon slot="end" name="person" size="large" class="ion-padding"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-text color="primary">
    
    <ion-img
  src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/aa/Logo_DuocUC.svg/2560px-Logo_DuocUC.svg.png"
  alt=""
></ion-img>
    
  </ion-text>
 <ion-text color="dark" class="ion-text-center ion-text-center-vertical">
  <p> <span class="chokita">BIENVENIDO</span> </p>
</ion-text>
 <!--  <ion-text color="tertiary" routerLink="/pagina1">
    <h4>Página 1</h4>
  </ion-text>  -->
  <button></button>
  <ion-button (click)="onClick('formulario')" expand="full" color="success">
    INICIAR SESION
  </ion-button>
  

</ion-content>

